body {
    /*background: url(../images/logo.svg) no-repeat;
    background-position-x: center;*/
}

#main-Container .header-section .app-header ul li {
    list-style: none;
    padding-left: 25px;
}

#main-Container .header-section .app-header ul li:hover {
    /*background: #FFF;*/
    color: #f2f2f2;
}

.logo_section {
    background: url(../images/logo.svg);
    height: 28px;
    width: 33px;
    text-indent: -9999px;
    background-size: cover;
    display: inline-block;
}

.content-section {
    min-height: 665px;
}

.loader-container {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0%;
    padding-left: 0 !important;
    overflow: hidden;
    z-index: 999999;
    /* opacity: 0.2; */
    background: rgba(255, 255, 255, 0.6);
    left: 0px;
    right: 0px;
}