body {
	color: #a1a1a1;
	background: rgba(255,255,255,0.4);
}
#main-Container .header-section .app-header ul li {
	list-style: none;
	padding-left: 25px;
}
#main-Container .header-section .app-header ul li:hover {
	padding: 5px;
	/*background: #FFF;*/
	color: #f2f2f2;
}